<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visual Question Answering</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/model3.css') }}">

    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
</head>
<body>
    <nav>
        <ul class="nav__links">
            <li class="link"><a href="#">Home</a></li>
            <li class="link"><a href="#">Features</a></li>
            <li class="link"><a href="#">About</a></li>
            <li class="link"><a href="#">Contact</a></li>
        </ul>
    </nav>
    
    <header id="header" class="header__container">
        <div>
            <h1>Visual Question Answering</h1>
            <p>Upload an image and ask a question about it. Our AI will provide an answer.</p>
            <form id="imageForm">
                <label class="upload-btn" for="image-upload">Choose Image</label>
                <input type="file" id="image-upload" name="image" accept="image/*">
                <div id="image-name"></div> <!-- Add this line -->
                <textarea id="question" name="question" placeholder="Type your question here..." required></textarea>
                <button type="button" id="generate-btn">Generate Answer</button>
            </form>
            <div id="image-preview"></div>
            <div id="answerResult">
                <h2>Answer:</h2>
                <div id="answer"></div>
            </div>
        </div>
    </header>


  



    <footer class="section__container footer__container">
        <div class="footer__col">
          <p>
            Join us in exploring the limitless possibilities of AI. Let's innovate and transform the future together.
          </p>
          
  
        </div>
        <div class="footer__col">
          <h4>Contact Us</h4>
          <hr/>
          <p>
            For more information, demos, or to discuss how our integrated AI solutions can benefit your business, please contact us at <strong>akshay.bhosale@mitaoe.ac.in</strong>. Our team of experts is ready to help you harness the power of AI to transform your workflows and enhance your user experience.
          </p>
          <form action="" class="newsletter-form">
            <input type="email" name="email_address" placeholder="Enter Your Email" aria-label="email" class="email-field">
            <button type="submit" class="newsletter-btn">Subscribe Now</button>
          </form>
        </div>
      </footer>
      <div class="footer__bar">
        Copyright © 2024 letsdoitbycode. All rights reserved.
      </div>

    <script src="{{ url_for('static', filename='js/model3.js') }}"></script>

</body>
</html>
